*{
    padding: 0;
    margin: 0;
    
}
header{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
}
#logo{
    font-size:26px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
}
#limenu {
    padding-left: 50px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
#limenu a:hover{
        color: rgb(41, 115, 212);
}
#licolor{
    font-size: 24px;
}
#background{
    background-color: #aaa;
    padding: 80px;
    height: 80vh;
}
.para1{
    color: #fff;
    opacity: 0.8;
    font-size: 22px;
    text-align: justify;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 35px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: #fff;
    opacity: 0.8; 
    font-size: 45px;
    text-align: center;
    margin-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#h2{
    color: #0e0e0e;
    opacity: 0.8; 
    font-size: 55px;
    text-align: center;
    margin-bottom: 40px;
    margin-top:35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    background-color: #f7f3f3;
}
.card-img-top{
    border-radius: 50%;
    height: 200px !important;
    width: 200px !important;
    position: relative;
    object-fit: cover;
    cursor:pointer;
}
.card:hover{
    box-shadow: rgba(81, 128, 202, 0.24) 2px 3px 8px;
}
.card-body h5{
   margin-top: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#lien {
    font-size:25px;
    color:rgb(41, 115, 212);
    margin: 0px 15px 15px 8px;
}
#lien:hover{
    color:rgb(68, 70, 69);
}
.footer{
    padding: 30px;
    background-color: rgb(75, 73, 73);
    border-radius: 65px 0px  0px 0px;
}
.footer .logo{
    text-align: center;
    font-size: 40px;
    color: beige;
    opacity: 0.8;
}
.footer ul {
    margin-top: 0;
    padding-top: 0;
    list-style: none; 
   line-height: 1.6;
   margin-bottom: 0;
   text-align: center;
  
}
.footer ul li a{
    color: beige;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 20px;
    font-size: 21px;
    
}
.footer ul li a:hover{
    opacity: 1.0;
    color: rgb(41, 115, 212);
}
.copyright{
    margin-top: 13px;
    color: #aaa;
}
/*Responsive part1*/
@media  screen and (max-width:500px){
    h2{
        color: #fff;
        opacity: 0.8; 
        font-size: 28px;
        text-align: center;
        margin-bottom:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .footer .list{
        display: flex;
        flex-direction: column;
    }
    .footer .list li{
        margin-left: -30px;
    }
    #background{
        background-color: #aaa;
        padding: 60px;
        height: 100vh;
    }
    .para1{
        color: #fff;
        opacity: 0.8;
        font-size: 17px;
        text-align: justify;
        margin-left:0px;
        margin-bottom:15px;
        margin-top: 35px;
        padding-bottom: 10px;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #h2{
        color: #0e0e0e;
        opacity: 0.8; 
        font-size: 35px;
        text-align: center;
        margin-bottom: 25px;
        margin-top:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*Responsive part1*/
    .card-img-top{
        border-radius: 50%;
        height: 100px !important;
        width: 100px !important;
        position: relative;
        object-fit: cover;
        cursor:pointer;
    }
    .card:hover{
        box-shadow: rgba(81, 128, 202, 0.24) 2px 3px 8px;
    }
    .card-body h5{
       margin-top: 10px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .card-body{
       padding-bottom: 25px;
     }
}

@media  screen and  ( min-width:501px) and (max-width:767px){
    h2{
        color: #fff;
        opacity: 0.8; 
        font-size: 30px;
        text-align: center;
        margin-bottom:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #background{
        background-color: #aaa;
        padding: 35px;
        height: 70vh;
    }
    .para1{
        color: #fff;
        opacity: 0.8;
        font-size: 20px;
        text-align: justify;
        margin-top: 35px;
        padding-bottom: 18px;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #h2{
        color: #0e0e0e;
        opacity: 0.8; 
        font-size: 40px;
        text-align: center;
        margin-bottom: 25px;
        margin-top:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*Responsive part1*/
    .card-img-top{
        border-radius: 50%;
        height: 150px !important;
        width: 150px !important;
        position: relative;
        object-fit: cover;
        cursor:pointer;
    }
    .card:hover{
        box-shadow: rgba(81, 128, 202, 0.24) 2px 3px 8px;
    }
    .card-body h5{
       margin-top: 10px;
       font-size: 15px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
 
 }
 @media  screen and  ( min-width:768px) and (max-width:991px){
    h2{
        color: #fff;
        opacity: 0.8; 
        font-size: 35px;
        text-align: center;
        margin-bottom:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #background{
        background-color: #aaa;
        padding: 65px;
        height: 70vh;
    }
    .para1{
        color: #fff;
        opacity: 0.8;
        font-size: 20px;
        text-align: justify;
        margin-top: 35px;
        padding-bottom: 18px;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #h2{
        color: #0e0e0e;
        opacity: 0.8; 
        font-size: 40px;
        text-align: center;
        margin-bottom: 25px;
        margin-top:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*Responsive part1*/
    .card-img-top{
        border-radius: 50%;
        height: 150px !important;
        width: 150px !important;
        position: relative;
        object-fit: cover;
        cursor:pointer;
    }
    .card:hover{
        box-shadow: rgba(81, 128, 202, 0.24) 2px 3px 8px;
    }
    .card-body h5{
       margin-top: 10px;
       font-size: 15px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
 
 }
 @media  screen and  ( min-width:992px) and (max-width:1024px){
    h2{
        color: #fff;
        opacity: 0.8; 
        font-size:32px;
        text-align: center;
        margin-bottom:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #background{
        background-color: #aaa;
        padding: 30px;
        height:65vh;
    }
    .para1{
        color: #fff;
        opacity: 0.8;
        font-size: 22px;
        text-align: justify;
        margin-top: 35px;
        padding-bottom: 18px;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #h2{
        color: #0e0e0e;
        opacity: 0.8; 
        font-size: 40px;
        text-align: center;
        margin-bottom: 25px;
        margin-top:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*Responsive part1*/
    .card-img-top{
        border-radius: 50%;
        height: 150px !important;
        width: 150px !important;
        position: relative;
        object-fit: cover;
        cursor:pointer;
    }
    .card:hover{
        box-shadow: rgba(81, 128, 202, 0.24) 2px 3px 8px;
    }
    .card-body h5{
       margin-top: 10px;
       font-size: 15px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

 }
 @media  screen and  ( min-width:1025px) and (max-width:1310px){
    h2{
        color: #fff;
        opacity: 0.8; 
        font-size:38px;
        text-align: center;
        margin-bottom:10px;
        margin-top:10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #background{
        background-color: #aaa;
        padding: 30px;
        height:65vh;
    }
    .para1{
        color: #fff;
        opacity: 0.8;
        font-size: 24px;
        text-align: justify;
        margin-top: 35px;
        padding-bottom: 18px;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

